
.btn-primary {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #1565c0;
}

p#FAQ {
  font-style : italic;
}
